<!-- blog/post_detail.html -->
{% extends 'home/base.html' %}

{% block content %}

    {% for post in posts %}
        <!-- <li> <a href="/blog/{{ post.slug }}/">{{ post.title }}</a></li> --> 
        <a href="{{ post.get_url }}"><h4>{{ post.title }}</h4></a>
        <!--
        <span>{{ post.content | linebreaks | truncatewords:16 }}</span>
        -->
    {% endfor %}<br><br>

    {% if user.is_authenticated %}
        You are Loged in, <a href="/blog-new">Write a new blog >>></a>
    {% else %}
        You're not logged in, <a href="/blog-new">Login to write a new blog >>></a>
    {% endif %}

{% endblock %}